.bodyBg {
  
    height: 100vh;
  }
  
  .formWrapper {
    padding-top: 80px;
  }
  
  .formContainer {
    background-color: #f8f8f8;
    border-radius: 30px;
  }
  
  .inputFields {
    margin-left: 30px;
  }
  
  .titleChangePassword {
    color: #3f3f3f;
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 600;
    margin-top: 60px;
  }
  
  .inputbgimage {
    background-image: url("../../assests/loginbg.svg");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 0px 20px 20px 0px;
  }
  
  .input {
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 25px;
    margin-right: 8px;
  }
  
  .freeSpace {
    margin-bottom: 100px;
  }
  .changePasswordButton {
    background-color: #04a5cf;
    color: #ffffff;
    text-align: center;
    padding: 5px 115px 5px 115px;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 18px;
  }
  
  .changePasswordButton:hover {
    background-color: #3f3f3f;
  }
  